Flask>=3.0.0
Werkzeug>=3.0.0
transformers>=4.45.0
Pillow>=10.0.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0
torchvision==0.17.0
pandas>=2.0.0
requests>=2.31.0
scikit-learn==1.6.1
Flask-SQLAlchemy>=3.1.0
Flask-Login>=0.6.0
reportlab>=4.1.0
gunicorn>=21.2.0
psycopg2-binary>=2.9.9
Flask-Cors>=4.0.0
